* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
}

#container {
  top: 50%;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  position: absolute;
  translate: 0 -50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: row;
}

#hexagon {
  height: 60px;
  background: #5F6062;
  position: relative;
  display: inline-block;
  /* top: 100px; */
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #5F6062;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hexagon:after {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid #5F6062;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hexagon:hover{
  background: #EC008C;
}

#hexagon:hover:after{
  border-top: 25px solid #EC008C;
}
#hexagon:hover:before{
  border-bottom: 25px solid #EC008C;
}